<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
    <title>vue移动商城</title>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-0e455c8c.e227af02.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-291f569a.86ff993e.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-32ea458a.40817dda.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-3cd027a4.90025fe8.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-585ea9bb.65e9d18a.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-683fd508.85c45e3b.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-72fb80f6.a6c6ff5d.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-7c352045.1d8301ee.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-854219ba.f049a183.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-a1e0e73c.d630cf18.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-c01442dc.8e8beb53.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-c0734d00.1f5b6216.css rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-0e455c8c.e6bc1143.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-291f569a.3df6760f.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-32ea458a.6875721f.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-3cd027a4.251a00d9.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-585ea9bb.6019f519.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-683fd508.67efcbec.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-72fb80f6.0fb8fbea.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-76f88e57.b23592ca.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-7c352045.458f60ce.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-854219ba.87b21345.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-a1e0e73c.02529220.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-c01442dc.24c8627c.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-c0734d00.0ca64864.js rel=prefetch>
    <link href=/assets/addons/litestore/vue-mobile/css/app.6972b888.css rel=preload as=style>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-vendors.5858c103.css rel=preload as=style>
    <link href=/assets/addons/litestore/vue-mobile/js/app.76dfabef.js rel=preload as=script>
    <link href=/assets/addons/litestore/vue-mobile/js/chunk-vendors.7b616be7.js rel=preload as=script>
    <link href=/assets/addons/litestore/vue-mobile/css/chunk-vendors.5858c103.css rel=stylesheet>
    <link href=/assets/addons/litestore/vue-mobile/css/app.6972b888.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but vue-shop-vant doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/assets/addons/litestore/vue-mobile/js/chunk-vendors.7b616be7.js></script>
<script src=/assets/addons/litestore/vue-mobile/js/app.76dfabef.js></script>
</body>
</html>