<ul class="list-group">
    <li class="list-group-heading">{:__('内容管理')}</li>
    <!--如果需要直接跳转对应的模型(比如我的新闻,我的产品,发布新闻,发布产品)，可以在链接后加上 ?model_id=模型ID -->
    {if isset($sidenav) && in_array('myarchives', $sidenav)}
    <li class="list-group-item {:$actionname=='my'?'active':''}"><a href="{:url('index/cms.archives/my')}"><i class="fa fa-newspaper-o fa-fw"></i> {:__('我发布的文章')}</a></li>
    {/if}
    {if isset($sidenav) && in_array('postarchives', $sidenav)}
    <li class="list-group-item {:$actionname=='post'?'active':''}"><a href="{:url('index/cms.archives/post')}"><i class="fa fa-pencil fa-fw"></i> {:__('发布文章')}</a></li>
    {/if}
    {if isset($sidenav) && in_array('myorder', $sidenav)}
    <li class="list-group-item {:$controllername=='cms.order'&&$actionname=='index'?'active':''}"><a href="{:url('index/cms.order/index')}"><i class="fa fa-shopping-bag fa-fw"></i> {:__('我的消费订单')}</a></li>
    {/if}
    {if isset($sidenav) && in_array('mycomment', $sidenav)}
    <li class="list-group-item {:$controllername=='cms.comment'&&$actionname=='index'?'active':''}"><a href="{:url('index/cms.comment/index')}"><i class="fa fa-comments fa-fw"></i> {:__('我发表的评论')}</a></li>
    {/if}
</ul>
