<label><span class="icon-doc-text big-icon"></span>{:__("System Settings")}</label>
<hr>
<label></label>
<table class="settings">
    <tr>
    
        <td>{:__("Right Sidebar Trigger")}</td>
        <td>
            <select class="setting" data-setting="codiad.editor.rightSidebarTrigger">
                <option value="false" default>{:__("Hover")}</option>
                <option value="true">{:__("Click")}</option>
            </select>
        </td>

    </tr>
    
    <tr>
    
        <td>{:__("Filemanager Trigger")}</td>
        <td>
            <select class="setting" data-setting="codiad.editor.fileManagerTrigger">
                <option value="false" default>{:__("Double Click")}</option>
                <option value="true">{:__("Single Click")}</option>
            </select>
        </td>

    </tr>
    
    <tr>
    
        <td>{:__("Persistent Modal")}</td>
        <td>
            <select class="setting" data-setting="codiad.editor.persistentModal">
                <option value="true" default>{:__("Yes")}</option>
                <option value="false">{:__("No")}</option>
            </select>
        </td>

    </tr>

</table>
