<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class=""> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>{:isset($title)?$title:'投票'}</title>
    <meta name="keywords" content="{:isset($keywords)?$keywords:''}"/>
    <meta name="description" content="{:isset($description)?$description:''}"/>

    <link rel="stylesheet" media="screen" href="__CDN__/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" href="__CDN__/assets/libs/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" media="screen" href="__CDN__/assets/libs/fastadmin-layer/dist/theme/default/layer.css"/>
    <link rel="stylesheet" media="screen" href="__ADDON__/css/swiper.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1150638_isdc60xczc.css">
    <link rel="stylesheet" media="screen" href="__ADDON__/css/common.css?v={$site.version}"/>
    <link rel="stylesheet" media="screen" href="__ADDON__/css/main.css?v={$site.version}">

    <!--分享-->
    <meta property="og:url" content="{:isset($__player__)?$__player__.fullurl:$__subject__.fullurl}"/>
    <meta property="og:title" content="{:isset($__player__)?$__player__.nickname:$__subject__.title}"/>
    <meta property="og:image" content="{:isset($__player__)?$__player__.image:$__subject__.image}"/>
    <meta property="og:description" content="{:isset($__player__)?$__player__.intro:$__subject__.intro}"/>

    {__STYLE__}

    <!--[if lt IE 9]>
    <script src="__CDN__/libs/html5shiv.js"></script>
    <script src="__CDN__/libs/respond.min.js"></script>
    <![endif]-->

</head>
<body class="group-page">
<div class="pix_section pix_nav_menu pix_scroll_header normal pix-over-header hidden-xs" data-scroll-bg="#444" id="nav" style="display: block;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 pix-inner-col column ui-droppable">
                <div class="pix-content">
                    <ul class="nav navbar-nav navbar-right media-middle pix-header-nav pix-adjust-height" id="pix-header-nav">
                        <li><a href="{$__subject__.url}" class="pix-light-white">首页</a></li>
                        <li><a href="{$__subject__.rank_url}" class="pix-light-white">排行榜</a></li>
                        <li><a href="javascript:" class="pix-light-white btn-share">分享</a></li>
                        {if $user}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎你! {$user.nickname}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{:url('index/user/index')}">会员中心</a>
                                </li>
                                <li>
                                    <a href="{:url('index/user/profile')}">个人资料</a>
                                </li>
                                <li>
                                    <a href="{:url('index/user/logout')}">退出登录</a>
                                </li>
                            </ul>
                        </li>
                        {else /}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">会员中心 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{:url('index/user/login')}">登录</a>
                                </li>
                                <li>
                                    <a href="{:url('index/user/register')}">注册</a>
                                </li>
                            </ul>
                        </li>
                        {/if}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{if true}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-vote-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-vote-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{$__subject__.url}" class="pix-light-white">首页</a></li>
                <li><a href="{$__subject__.rank_url}" class="pix-light-white">排行榜</a></li>
                <li><a href="javascript:" class="pix-light-white btn-share">分享</a></li>
                {if $user}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎你! {$user.nickname}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{:url('index/user/index')}">会员中心</a>
                        </li>
                        <li>
                            <a href="{:url('index/user/profile')}">个人资料</a>
                        </li>
                        <li>
                            <a href="{:url('index/user/logout')}">退出登录</a>
                        </li>
                    </ul>
                </li>
                {else /}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">会员中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{:url('index/user/login')}">登录</a>
                        </li>
                        <li>
                            <a href="{:url('index/user/register')}">注册</a>
                        </li>
                    </ul>
                </li>
                {/if}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{/if}

{__CONTENT__}

<div class="bottom visible-xs">
    <a class="tab {:$controllerName!='rank'?'current':''}" href="{$__subject__.url}">首页<i class="fa fa-home"></i></a>
    <a class="tab {:$controllerName=='rank'?'current':''}" href="{$__subject__.rank_url}">排行榜<i class="fa fa-bar-chart"></i></a>
    <a class="tab {:$controllerName=='share'?'current':''} btn-share" data-type="timeline" href="javascript:">分享<i class="fa fa-share-alt"></i></a>
</div>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; {$site.name} 2020</p>
                <p><a href="http://www.beian.miit.gov.cn/" target="_blank">{$site.beian}</a></p>
            </div>
        </div>
    </div>
</footer>

<script id="sharetpl" type="text/html">
    <div id="sharenow" style="padding:20px;">
        <div class="row text-center">
            <div class="col-xs-12">
                <img src="{:addon_url('vote/qrcode/build')}?text=<%=url%>&logo=1&logosize=50&padding=0" width="120" alt="">
                <div class="my-2">
                    扫码分享到微信
                </div>
            </div>
        </div>
        <div class="row text-center mt-3 pt-2">
            <div class="col-xs-4">
                <a href="http://service.weibo.com/share/share.php?url=<%=url%>&title=<%=title%>" target="_blank">
                <span class="fa-stack fa-lg text-danger">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                </span><br>
                    分享到微博
                </a>
            </div>
            <div class="col-xs-4">
                <a href="javascript:" class="btn-share-wechat">
                <span class="fa-stack fa-lg text-success">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-wechat fa-stack-1x fa-inverse"></i>
                </span><br>
                    分享到微信
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://connect.qq.com/widget/shareqq/index.html?url=<%=url%>&title=<%=title%>&desc=&summary=&site={$site.name}" target="_blank">
                <span class="fa-stack fa-lg text-info">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
                </span><br>
                    分享到QQ
                </a>
            </div>
        </div>
    </div>
</script>

<!--分享引导框开始-->
<script type="text/html" id="wxsharetpl">
    <div class="text-right">
        <img src="__ADDON__/img/guide_tips.png" width="300px">
        <img src="__ADDON__/img/guide_btn.png" width="100px" onclick="layer.closeAll();" style="margin-right:100px;">
    </div>
</script>
<!--分享引导框结束-->

<script type="text/javascript" src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/fastadmin-layer/dist/layer.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/art-template/dist/template-native.js"></script>
<script type="text/javascript" src="__ADDON__/js/clipboard.min.js"></script>
<script type="text/javascript" src="__ADDON__/js/swiper.min.js"></script>
<script type="text/javascript" src="__ADDON__/js/vote.js?v={$site.version}"></script>
<script type="text/javascript" src="__ADDON__/js/common.js?v={$site.version}"></script>

{if $isWechat}
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{/if}

{__SCRIPT__}

</body>
</html>
