<style>
    .panel-post {
        position: relative;
    }

    .btn-post {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    .img-border {
        border-radius: 3px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    }
</style>
<div class="container mt-20">
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-md-3">
                {include file="common/sidenav" /}
            </div>
            <div class="col-md-9">
                <div class="panel panel-default panel-user">
                    <div class="panel-body">
                        <div class="page-header panel-post">
                            <h2>{$title}</h2>
                        </div>
                        {volist name='playerList' id='item'}
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div style="padding:15px;">
                                    <a href="{$item.subject.url}">
                                        <img class="img-responsive img-border" src="{$item.subject.image}" onerror="this.src='__CDN__/assets/addons/vote/img/noimage.jpg';this.onerror=null;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>
                                    <a href="{$item.subject.url}" target="_blank">{$item.subject.title}</a>
                                </h4>
                                <p class="text-muted">报名时间：{$item.createtime|datetime}</p>
                                <div>
                                    {if $item['status'] == 'normal'}
                                    <a class="btn btn-success" href="{$item.url}" target="_blank"><i class="fa fa-user"></i> 立即查看</a>
                                    {elseif $item['status'] == 'rejected'}
                                    <a class="btn btn-danger" href="{$item.subject.apply_url}?id={$item.id}" data-toggle="tooltip" title="{$item.memo}"><i class="fa fa-pencil"></i> 被拒绝</a>
                                    <a class="btn btn-success" href="{$item.url}"><i class="fa fa-eye-slash"></i> 预览</a>
                                    {elseif $item['status'] == 'hidden' /}
                                    <a class="btn btn-info" href="{$item.subject.apply_url}?id={$item.id}" data-toggle="tooltip" title="请耐心等待后台审核,审核前你可以继续修改"><i class="fa fa-pencil"></i> 正在审核</a>
                                    <a class="btn btn-success" href="{$item.url}"><i class="fa fa-eye-slash"></i> 预览</a>
                                    {/if}
                                </div>
                            </div>
                        </div>
                        <hr>
                        {/volist}
                        <div class="text-center">{:$playerList->isEmpty()?"暂未报名任何投票":""}</div>
                        <div class="pager">{$playerList->render()}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
